#### In this machine learning program with python, we will write python code to predict home prices using multivariate linear regression in python (using sklearn linear_model). Home prices are dependant on 3 independant variables: area, bedrooms and age. Pandas dataframe is used to fill missing values first and then use that dataset to train a multivariate regression model.

In [2]:
import pandas as pd
import matplotlib.pyplot as ply
from sklearn import linear_model

In [38]:
csv=pd.read_csv('homepricesmultivariate.csv')
csv

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [41]:
import math
median= math.floor(csv.bedrooms.median())
median

4

In [42]:
# filling Missing value with mean(average)
import math
csv.fillna(csv.bedrooms.median(), inplace = True) 
csv

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [44]:
reg=linear_model.LinearRegression()
reg.fit(csv[['area','bedrooms','age']],csv.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [45]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [46]:
reg.intercept_

221323.00186540408

In [51]:
reg.predict([[3000,4,20]])

array([586431.48983091])

In [61]:
# Y=m1x1+m2x2+m3x3+c

112.06244194*3000+23388.88007794*4+-3231.71790863*20 + 221323.00186540408

586431.4898245641